
form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

form input[type="submit"] {
    background-color: #000008;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease-in;
    display: block;
    width: 100%;
    margin-top: 15px;
}

form input[type="submit"]:hover {
    background-color: #444;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.return_page a {
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content;
    color: white;
    background-color: #000008;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.1s ease-in;
    border: 1px #000008 solid;
}

a:hover {
    background-color: transparent;
    color: #000008;
    border: 1px #000008 solid;
}
.account_exists{
	color:  #ff4d4d;
	margin-top:10px;
}
p {
    padding-top: 10px;
}
p a{
    text-decoration: none;
}