body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    color: black;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    background-color: rgb(77, 143, 227);
    color: white;
    padding: 10px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header h1 a img {
    width: 50px;
    height: 50px;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

.main_video {
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 70%;
    float: left;
}

.main_video video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sidebar {
    top: 30%;
    right: 3%;   
    position:absolute;
    float: right;
    width: 25%;
    max-width: 300px;
}

.video-item2 {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-item2:hover {
    background-color: #f8f8f8;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.video-item2 video {
    width: 100%;
    height: auto;
}

.video-grid-container {
    clear: both;
    margin-top: 20px;
    text-align: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.video-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-item video {
    width: 300px;
}
.video-grid a{
    color:black;
    text-decoration: none;
}
video::-webkit-media-controls {
    display: none;
  }
a {
    color: black;
    text-decoration: none;
}