body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.main-player {
    flex: 3;
    margin-right: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.main-player video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-item:hover {
    background-color: #f8f8f8;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.sidebar-item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sidebar-item a {
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main-player {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
/* Styl dla nagłówka */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightgray;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 80%;
}

header .home-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

header .home-link:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
    color: #ee0000;
}
